<main>
  <a href="../">../</a>
  {{#if @directory}}
    <ol>
      {{#each @directory}}
        <li>
          {{#if isdir}}DIR: {{/if}}
          <a href="{{name}}{{#if isdir}}/{{/if}}">{{name}}</a>
        </li>
      {{/each}}
    </ol>
  {{/if}}
</main>
